@{
    ViewData["Title"] = "Api";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Message posted: @ViewData["Message"]</p>


<!--


<?xml version="1.0" encoding="UTF-8" ?>
<Response>
    <Message>
        <Body>
            
        </Body>
    </Message>
</Response>

    -->
