@model MyApp1.Models.Jumble

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Jumble</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MessageIn" class="control-label"></label>
                <input asp-for="MessageIn" class="form-control" />
                <span asp-validation-for="MessageIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MessageOut" class="control-label"></label>
                <input asp-for="MessageOut" class="form-control" />
                <span asp-validation-for="MessageOut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberTo" class="control-label"></label>
                <input asp-for="NumberTo" class="form-control" />
                <span asp-validation-for="NumberTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberFrom" class="control-label"></label>
                <input asp-for="NumberFrom" class="form-control" />
                <span asp-validation-for="NumberFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeStamp" class="control-label"></label>
                <input asp-for="TimeStamp" class="form-control" />
                <span asp-validation-for="TimeStamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
