@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Lennard<br />
    Calgary, AB<br />
    <abbr title="Phone">P:</abbr>
    587.602.1513 (Twilio)
</address>

<address>
    <strong>Email for support:</strong> <a href="mailto:support@len-art.nl">support [at] len [dash] art [dot] nl</a><br />
    <!--<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>-->
</address>
